@model IEnumerable<ToDoListV99.Models.Item>

<div id="progressBarItem">
    @*<p>@(ViewBag.Percent)%</p>*@
    <div class="progress">
        <div class="progress-bar" role="progressbar"
             style="width:@(Html.AttributeEncode(ViewBag.Percent))%"></div>
    </div>
</div>
<table id="ListItems" class="table table-hover">
    <thead>
    <tr>
        <th>Item</th>
        <th>Completion Status</th>
        <th>Delete</th>
    </tr>
    </thead>
    
    <tbody>

        @foreach (var item in Model)
        {
            <tr id="ii-@item.ItemId">
                <td>
                    @if (!item.IsComplete)
                {
                        @Html.DisplayFor(modelItem => item.Description)
                    }
                    else
                    {
                        <div class="CompletedItem">@Html.DisplayFor(modelItem => item.Description)</div>
                    }
                </td>
                <td>

                    @Html.CheckBoxFor(modelItem => item.IsComplete, new { id = item.ItemId, @class = "ActiveCheck" })

                </td>
                <td>
                    <button class='btn btn-link js-delete' data-item-id="@item.ItemId">Delete</button>
                </td>
            </tr>
        }

    </tbody>

</table>

<div id="itemCreateForm">
    @using (Ajax.BeginForm("AJAXCreateItem", "Lists",
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            UpdateTargetId = "itemTableDiv"
                        }))
    {
        <div class="form-group">
            @Html.AntiForgeryToken()
            <p>Create item: </p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstOrDefault().Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstOrDefault().Description, "", new { @class = "text-danger" })
            </div>
        </div>
    }
</div>
<script src="~/Custom_Scripts/ListItemManagment.js"></script>

