@model IEnumerable<ToDoListV99.Models.Item>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComplete)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsComplete, new { id = item.ItemId, @class = "ActiveCheck"})
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ItemId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ItemId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ItemId })
            </td>
        </tr>
    }

</table>

<script src="~/Custom_Scripts/AddCheckBoxListener.js"></script>
