@model ToDoListV99.Models.ListsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ListName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categories)
        </dt>

        <dd>
            @foreach (var item in Model.Categories)
            {
                if (item.Checked)
                {
                    <div>@item.Name</div>
                }
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ListId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
